:root {
  --bg: linear-gradient(154.76deg, #628e75 3%, #1a4855 84.12%);
  --btn: #658e76;
  --color: #f9f9f9;
  --hover: #dd8998;
  --hover2: #2b1b51;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  color: var(--color);
  font-family: "Poppins", sans-serif;
  background: var(--bg);
}

ul {
  list-style: none;
}

a {
  color: var(--color);
  text-decoration: none;
}
