.cabecalho {
  max-width: 1200px;
  padding: 40px 0 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.cabecalho img {
  display: block;
  max-width: 100%;
}

.navegacao__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.navegacao__item img:hover {
  color: var(--hover2);
}

@media (max-width: 400px) {
  .cabecalho {
    padding: 20px 20px;
  }
  .navegacao__item {
    gap: 20px;
  }
}
