.principal {
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.principal__conteudo h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.principal__conteudo h1 {
  font: 900 4.25rem/60px "Poppins", sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
}

.principal__conteudo p {
  font: 400 1rem/1.8 "Poppins", sans-serif;
  margin-top: 25px;
}

@media (max-width: 400px) {
  .principal {
    padding: 20px 20px;
    grid-template-columns: 1fr;
  }
  .principal__conteudo h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
  }
  .principal__conteudo h1 {
    max-width: 10ch;
  }
}
